@model Пицца_Офис.Models.ViewModels.CategoryMenuDTOViewModel

@{
    ViewData["Title"] = "Create";
}


<form method="post" asp-action="Create" >

    <div class="row pb-2">
        <h2 class="text-primary pl-3">Добавить Категотию</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryMenu.NameCategory"></label>
        <input asp-for="CategoryMenu.NameCategory" class=" form-control" />
        <span class="text-danger" asp-validation-for="CategoryMenu.NameCategory"></span>
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary" style="width:150px;">Добавить</button>
        <a asp-action="Index" class="btn btn-dark" style="width:150px;">Назад</a>
    </div>
    </div>

</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
