
<div class="container" style=" height:100px">
</div>



<div class="container justify-content-evenly">
    <div class=" row">
        <div class=" col-1">
        </div>
        <div class="col-10">
            <div class="card p-2 " style="border:2px solid #808080; border-radius: 10px;">
                <div class=" card-header  text-light" style="background-color:#222222;height:80px">
                    <div class=" row text-center">
                        <h2>Вход</h2>
                        <hr />
                    </div>

                </div>

                <div class="card-body">
                    <div class=" row text-center">

                        <div class="container border p-4">

                            <div class="row">
                                <div class="col-6 offset-3 pb-2 text-center">
                                    <h2 style="color:red;">Ошибка авторизации</h2>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class=" card-footer">
                    <div class="row text-center">
                        <div>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:250px;border-radius:20px;">Войти</a>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class=" col-1">
        </div>
    </div>

</div>
