
<div class="reference">
    <div class="title"><h3>Пароли</h3></div>
    <div class="listRef">
        <ul>
            <li>
                <h5>User: Director</h5>
                <h5>Password: Qwer1234=</h5>
            
            </li>
           
        </ul>
    </div>
</div>
