@model Пицца_Сайт.Models.DTO.MenuItemDTO






<form method="post" asp-action="Details" asp-controller="KigSize">
	<input asp-for="NameCategory" hidden />
	<input asp-for="Id" hidden />
	<input asp-for="Count" hidden />
	<div class="content-details">

		<div class="cols-md-4">
			<img class="card-img-top rounded" src="@Model.ImagePatch" />
		</div>

		<div class="cols-md-4 text-center">
			<div @*class="text-center"*@ style="height:120px">
				<h3 style="color:tomato">@Model.Name</h3>
			</div>
			<div style="height:100px">
				<h6>@Model.Description</h6>
			</div>
			<div>
				
			</div>
			<div style="height:40px">
			</div>
			<div class="col-12">
				<div class="row">
					<h5 id="count" class="col-6">Количество&nbsp;&nbsp;@Model.Count шт.</h5>
					<div class="col-3 w-25 btn-group" role="group">
						<a id="plus" class="btn btn-outline-success">

							<i class="bi bi-plus-square"></i>
						</a> &nbsp;&nbsp;
						<a id="minus" class="btn btn-outline-secondary">

							<i class="bi bi-dash-square"></i>
						</a>&nbsp;&nbsp;
						<div class="col-1  text-right">
							<button type="submit" class="btn btn-outline-danger" asp-controller="KingSize" asp-action="RemoveDetails">
								<i class="bi bi-trash-fill"></i>
							</button>
						</div>
					</div>
				</div>

			</div>

			<div>
				<div style="height:80px">
				</div>
				<button id="order" type="submit" class="btn btn-primary" asp-route-menuid="@Model.Id" style="width:200px;">Заказать</button>

			</div>

		</div>


	</div>
</form>

@section Scripts{
	@{
		<script src="~/js/count2.js"></script>
	}
}
